<div class="container">
  <div class="row position-relative align-items-center justify-content-center m-5">
    <div class="box">
      <div class="text-center">
        <img src="image1.png" style="width: 250px;" alt="ytdl by: IanVanh">
      </div>
      <form action="/" class="needs-validation" novalidate>
        <div class="mb-5 position-relative">
          <input name="url" type="url" class="form-control" id="url" placeholder="Enter Url" required>
          <div class="valid-tooltip">Listo</div>
          <div class="invalid-tooltip">Necesito la url</div>
        </div>
        <div class="checks">
          <div class="form-check wraper">
            <input type="radio" name="type" id="audio" value="audio" checked>
            <label class="form-check-label" for="audio">AUDIO</label>
          </div>
          <div class="form-check form-check-reverse wraper">
            <input type="radio" name="type" id="video" value="video">
            <label class="form-check-label" for="video">VIDEO</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn myBtn">
            <span>Descargar</span>
            <i></i>
          </button>
        </div>
      </form>
      <div class="foot">
        <p>© IanVanh - 2023</p>
      </div>
    </div>
    <div class="position-absolute box-back" style="transform: rotate(6deg);"></div>
    <div class="position-absolute box-back" style="transform: rotate(3deg);"></div>
  </div>
</div>