<!doctype html>
<html lang="en">
  <head>
  </head>
    <%- include('src/header') %>
  <body>
    <%- include('src/body') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!--
    -->
    <script type="text/javascript" charset="utf-8">
      let previusTitle = document.title
      
      window.addEventListener('blur', () => {
        previousTitle = document.title
        document.title = 'No te vallas! Vuelve 😭'
      })
      
      window.addEventListener('focus', () => {
        document.title = previousTitle
      })
      
      //Tooltip
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
      
      (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
      
            form.classList.add('was-validated')
          }, false)
        })
      })()
    </script>
  </body>
</html>