@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
  --smoky-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(240, 2%, 13%);
  --red: hsl(353.6,92.2%,50%);
  --green: hsl(129.4,92.2%,50%);
}
body {
  background: var(--smoky-black);
}
.box {
  width: 550px;
  height: 550px;
  background: var(--eerie-black);
  border-radius: 10px;
  z-index: 1;
  box-shadow: -10px -10px 20px -5px #f9fbfd,
              10px 10px 20px #a9bee8;
              overflow: hidden;
}
.box-back {
  background: var(--eerie-black);
  border-radius: 10px;
  width: 550px;
  height: 550px;
  box-shadow: -10px -10px 20px -5px #f9fbfd,
              10px 10px 20px #a9bee8;
}
input[type="url"] {
  background: none;
  color: #dd8383;
  border: 1px solid var(--red);
  box-shadow: -5px -5px 20px rgba(255,255,255,0.1),
              5px 5px 10px rgba(0,0,0,1),
              inset -2px -2px 5px rgba(255,255,255,0.1),
              inset 2px 2px 5px rgba(0,0,0,0.5),
              0 0 0 2px #1f1f1f;
}
input[type="url"]::placeholder {
  color: #dd8383;
}
input[type="url"]:hover {
  box-shadow: 0 0 35px var(--red);
  background: none;
  border: 1px solid var(--red);
}
input[type="url"]:focus {
  color: #dd8383;
}
input[type="url"]:focus:invalid {
  box-shadow: 0 0 35px var(--red);
  background: none;
  border: 1px solid var(--red);
}
.checks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wraper input {
  position: relative;
  width: 80px;
  height: 30px;
  margin-bottom: 15px;
  outline: none;
  background: #111;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255,255,255,0.1),
              5px 5px 10px rgba(0,0,0,1),
              inset -2px -2px 5px rgba(255,255,255,0.1),
              inset 2px 2px 5px rgba(0,0,0,0.5),
              0 0 0 2px #1f1f1f;
}
.wraper input:checked {
  background: var(--red);
}
.wraper label {
  color: var(--red);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}
.myBtn {
  position: relative;
  background: var(--red);
  color: var(--red);
  transition: all 500ms 100ms ease;
}
.myBtn:hover {
  background: var(--red);
  color: var(--red);
  letter-spacing: 0.1em;
  box-shadow: 0 0 35px var(--red);
}
.myBtn:before {
  content: '';
  position: absolute;
  inset: 2px;
  background: var(--eerie-black);
}
.myBtn span {
  position: relative;
  z-index: 1;
}
.myBtn i {
  position: absolute;
  inset: -1px;
  display: block;
}
.myBtn i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: var(--eerie-black);
  transform: translateX(-50%) skewX(125deg);
  transition: all 500ms 100ms ease;
}
.myBtn:hover i::before {
  width: 20px;
  left: 20%;
}
.myBtn i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: var(--eerie-black);
  transform: translateX(-50%) skewX(125deg);
  transition: all 500ms 100ms ease;
}
.myBtn:hover i::after {
  width: 20px;
  left: 80%;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 40px;
}
.foot p {
  padding-top: 20px;
  color: var(--red);
  font-family: 'Roboto Mono', monospace;
}

/*--- 404 ---*/
.my-body {
  font-family: monospace;
  font-size: 4vmin;
  min-height: 80vh;
  display: grid;
  overflow: hidden;
  place-items: center;
  background: var(--smoky-black);
}
.clock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8vmin;
  height: 4vmin;
  position: relative;
  padding: 0 4vmin;
}
.hr,
.min,
.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vmin;
  grid-row: 1/2;
  align-items: start;
}
.number {
  user-select: none;
  width: 8vmin;
  height: 8vmin;
  display: grid;
  place-items: center;
  color: var(--red);
  transition: all 500ms 100ms ease;
  border-radius: 50%;
}
.number.pop {
  transform: scale(1);
  background: #111;
  -webkit-appearance: none;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255,255,255,0.1),
              5px 5px 10px rgba(0,0,0,1),
              inset -2px -2px 5px rgba(255,255,255,0.1),
              inset 2px 2px 5px rgba(0,0,0,0.5),
              0 0 0 2px #1f1f1f;
}
.strip {
  transition: transform 500ms ease-in-out;
  border-radius: 1.333333333333333vmin;
  background-color: var(--eerie-black);
  box-shadow: 0 0 35px var(--red);
}